[submodule "SpeckleUi"]
	path = SpeckleUi
url=https://github.com/speckleworks/SpeckleUi.git
[submodule "SpeckleElements"]
	path = SpeckleElements
	url = https://github.com/speckleworks/SpeckleElements.git
