<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net471" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net471" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net471" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="Revit.RevitApi.x64" version="2019.0.0" targetFramework="net471" />
  <package id="Revit.RevitApiUI.x64" version="2019.0.0" targetFramework="net471" />
  <package id="SpeckleCore" version="1.5.2.343" targetFramework="net471" />
  <package id="SpecklePopup" version="1.6.8" targetFramework="net471" />
  <package id="SpeckleUiBase" version="1.1.0-wip" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net471" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net471" />
</packages>